.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.listening-animation{
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 30px;
  width: 180px;
}
.inputfield{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 30px;
  border: none;
  border-radius: 14px;
  padding: 10px;
  font-size: 16px;
  width: 50vw;
  margin: 10px;
  box-sizing: border-box;
  outline: 'none';
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */

#yourInputFieldId {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  background-color: rgba(211, 211, 211, 0.1);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  font-size: x-large;
  z-index: 100;
}

#yourInputFieldId::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.submit-button img {
  width: 30px;
}
.submit-button{
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
.prompt-form{
  display: flex;
}